# Node modules
*node_modules/*

./dist/output.css

# Log files
npm-debug.log*
yarn-debug.log*
yarn-error.log*


# Tailwind config file if you don't want to share it
# Uncomment the next line if you don't want to include it in your repo
# tailwind.config.js

# Optional:
# MacOS
.DS_Store

# Windows
Thumbs.db

# IDEs and editors
.idea/
.vscode/
*.swp
*.swo
*.sublime-project
*.sublime-workspace
*.code-workspace

# Dependency directories
jspm_packages/

# TypeScript
*.tsbuildinfo

# Miscellaneous
*.log
*.lock
*.cache
*.bak
*.tmp
*.pid
*.seed
*.pid.lock
*.cover


